.missao{
    background-color: $home-white;
    overflow: hidden;
    text-align: justify;

    font-family:'Open Sans';
}

.missao-content{
    padding: 50px;
    display: flex;
    gap: 45px;

}

.missao{
    box-shadow: 0 0.1rem 0.5rem #8e8d8d;;
}

.missao-content{
    flex: 1;

    .missao-descricao{
        font-size: 25px;

        h2{
            display: none;
        }
    }
}

.missao{
    margin-top: 70px;

    img{
        border-radius: 2%;
        box-shadow: 0 0.1rem 0.5rem #747070;
        transition: transform 0.2s;
    }
}

.horario-funcionamento{
    margin-top: 100px;
    font-size: 15px;
}

.missao img:hover{
    transform: scale(1.2);
    z-index: 1;
}

@media screen and (max-width: 768px){
    .missao-content{
        flex-direction: column;
        align-items: center;
    }

    .missao-descricao{
        font-size: large;
        h2{
            display: none;
        }
    }

    // .missao img{
    //     width: 300px;
    //     height: 400px;
    // }
    
}

.footer-content{
    margin: auto;
    margin-top: 50px;
}

.footer-logo{
    margin: auto;
    text-align: center;
    color: $home-dark-purple;
    font-size: 30px;
    margin-left: 10px;
    justify-content: center;

    h1{
        margin-top: 5px;
    }
}

.endereco{
    justify-content: center;
    text-align: center;
    margin-top: 100px;
    font-size: 20px;

    p{
        color: $home-dark-purple;
    }
}

//Botão whatsapp
.btn-whatsapp{

    position: fixed;
    bottom: 8%;
    right: 24px;
    z-index: 99;

    img{
        max-width: 74px;
        transition: transform 0.4s;
    }
    
}

.btn-whatsapp img:hover{
    transform: scale(1.1);
}

.btn-whatsapp .tooltip-text{
    visibility: hidden;
    position: absolute;
    width: 120px;
    top: 8px;
    left: -144px;
    color: $home-white;
    opacity: 0;
    transition: opacity 0.3s;
    background-color: #06121e;
    padding: 4px;
    border-radius: 8px;
    text-align: center;
}

.btn-whatsapp:hover .tooltip-text{
    visibility: visible;
    opacity: 1;
}

@media screen and (max-width: 768px){

    .missao-content {

        img{
            height: 250px;
            width: 310px;
        }

        .horario-funcionamento{
            font-size: 20px;
            margin-top: 50px;
        }
    }

    .missao-descricao{
        margin-top: 1px;
    }

    .btn-whatsapp{
        img{
            max-width: 54px;
        }
        bottom: 1%;
    }

    .endereco{
        margin-top: 80px;
    }

    .missao-content{
        gap: 20px;
    }

    .info-footer{
        margin-top: 8px;
    }

    .afazer{
        display: none;
    }

    // .footer-logo{
    //     font-size: 30px;
    //     margin-top: 30px;
    // }

    // .footer-icone{
    //     width: 5px;
    //     height: 5px;
    // }
}

// ***** PROFISSIONAIS *********
.profissionais{
    background-color: $home-white;
    flex: 1;
    width: 1400px;
    font-family: 'Open Sans';
    text-align: justify;
    margin-left: 35px;
    margin-top: 70px;
    box-shadow: 0 0.1rem 0.5rem #8e8d8d;
    // overflow: hidden;
    // text-align: justify;

    .imgs-syntia img:hover{
        transform: scale(1.2);
        z-index: 1;
    }

    .imgs-syntia{
        display: flex;
        gap: 80px;
        margin-left: 10px;
        padding: 40px 40px 40px 40px;
        // box-shadow: 0 0.1rem 0.5rem #8e8d8d;
        border-radius: 10px;
        img{
            box-shadow: 0 0.1rem 0.5rem #8e8d8d;
            border-radius: 2%;
            transition: transform 0.2s;
        }
    }

    .profissional-content{
        padding: 50px;
    }

    .text-syntia{
        padding-left: 45px;
        padding-right: 45px;
        font-size: 25px;

        margin-top: 20px;
    }
}

// -- PROFISSIONAIS RESPONSIVIDADE
@media screen and (max-width: 768px){

    .profissional-content{
        padding: 20px;
    }

    .syntia-funcao{
        display: none;
    }


    .profissionais{
        width: 370px;
        margin-left: 23px;
        .imgs-syntia{
            flex-direction: column;
            box-shadow: none;
            margin-left: 10px;
            padding: 0%;

            .img-celular-1{
                // margin-left: 1px;
            }

            .img-celular-2{
                display: none;
            }

            .img-celular-3{
                display: none;
            }
            
            img{
                width: 250px;
            }
            // padding: auto;
        }
    }
}