.missao{
    background-color: $home-white;
    overflow: hidden;
}

.missao-content{
    padding: 50px;
    display: flex;
    gap: 45px;

}

.missao-content{
    flex: 1;

    .missao-descricao{
        font-size: 35px;
    }
}

.missao{
    margin-top: 100px;

    img{
        border-radius: 2%;
    }
}

@media screen and (max-width: 768px){
    .missao-content{
        flex-direction: column;
        align-items: center;
    }

    .missao-descricao{
        h2{
            display: none;
        }
        p{
            font-size: 35px;
        }
    }

    .missao img{
        width: 325px;
        height: 400px;
    }
    
}

