.missao{
    background-color: $home-white;
    overflow: hidden;

    font-family: 'Arial';
}

.missao-content{
    padding: 50px;
    display: flex;
    gap: 45px;

}

.missao{
    box-shadow: 0 0.1rem 0.5rem #8e8d8d;;
}

.missao-content{
    flex: 1;

    .missao-descricao{
        font-size: 25px;

        h2{
            display: none;
        }
    }
}

.missao{
    margin-top: 70px;

    img{
        border-radius: 2%;
        box-shadow: 0 0.1rem 0.5rem #747070;
    }
}

.horario-funcionamento{
    margin-top: 250px;
    font-size: 15px;
}

@media screen and (max-width: 768px){
    .missao-content{
        flex-direction: column;
        align-items: center;
    }

    .missao-descricao{
        h2{
            display: none;
        }
        p{
            font-size: 25px;
        }
    }

    .missao img{
        width: 325px;
        height: 400px;
    }
    
}

.footer-content{
    margin: auto;
    margin-top: 50px;
}

.footer-logo{
    margin: auto;
    text-align: center;
    color: $home-dark-purple;
    font-size: 30px;
    margin-left: 10px;
    justify-content: center;

    h1{
        margin-top: 5px;
    }
}

.endereco{
    justify-content: center;
    text-align: center;
    margin-top: 100px;
    font-size: 20px;

    p{
        color: $home-dark-purple;
    }
}

//Botão whatsapp
.btn-whatsapp{

    position: fixed;
    bottom: 14px;
    right: 24px;
    z-index: 99;

    img{
        max-width: 74px;
        transition: transform 0.4s;
    }
    
}

.btn-whatsapp img:hover{
    transform: scale(1.1);
}

.btn-whatsapp .tooltip-text{
    visibility: hidden;
    position: absolute;
    width: 120px;
    top: 8px;
    left: -144px;
    color: $home-white;
    opacity: 0;
    transition: opacity 0.3s;
    background-color: #06121e;
    padding: 4px;
    border-radius: 8px;
    text-align: center;
}

.btn-whatsapp:hover .tooltip-text{
    visibility: visible;
    opacity: 1;
}

@media screen and (max-width: 768px){

    .missao-content {

        img{
            height: 250px;
            width: 340px;
        }

        p{
            font-size: 20px;
            margin-top: 1px;
        }

        .horario-funcionamento{
            font-size: 5px;
            margin-top: 50px;
        }
    }

    .btn-whatsapp{
        img{
            max-width: 54px;
        }
    }

    .endereco{
        margin-top: 80px;
    }

    .info-footer{
        margin-top: 8px;
    }

    // .footer-logo{
    //     font-size: 30px;
    //     margin-top: 30px;
    // }

    // .footer-icone{
    //     width: 5px;
    //     height: 5px;
    // }
}

