* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  list-style: none;
}

header {
  width: 100%;
}

.header-content {
  display: flex;
  justify-content: space-between;
}

.slogan {
  margin-top: 100px;
  font-size: 35px;
}

i {
  color: #7C1F92;
  margin-left: 30px;
  margin-top: 18px;
}

.header-logo {
  margin: auto;
  text-align: center;
  color: #7C1F92;
  font-size: 45px;
  align-items: center;
  margin-left: 350px;
  margin-top: 60px;
}

.profissionais-logo {
  margin-left: 510px;
}

.header-icons {
  display: flex;
  gap: 14px;
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
}

.pelv-home ul li a {
  color: #7C1F92;
}

.pelv-home .menu {
  cursor: pointer;
  margin-top: 18px;
}
.pelv-home .menu .bar {
  display: block;
  width: 40px;
  height: 6px;
  border-radius: 3px;
  background-color: #7C1F92;
  margin: 5px;
  margin-right: 30px;
  transition: all 0.5s;
}

.pelv-home .menu.ativo .bar:nth-child(1) {
  transform: translateY(11px) rotate(42deg);
  transition: 0.5s;
}

.menu.ativo .bar:nth-child(2) {
  opacity: 0;
  transition: 0.5s;
}

.menu.ativo .bar:nth-child(3) {
  transform: translateY(-11px) rotate(-42deg);
  transition: 0.5s;
}

ul {
  border-radius: 20px;
  padding: 0;
  overflow: hidden;
  box-shadow: 0 0.1rem 0.5rem #ccc;
}

.pelv-home .nav-menu {
  z-index: 1;
  position: fixed;
  right: -100%;
  top: 100px;
  width: 100%;
  height: 31%;
  flex-direction: column;
  background: white;
  gap: -10px;
  transition: 0.5s;
  justify-content: center;
}
.pelv-home .nav-menu li {
  margin-left: 10px;
  font-size: 20px;
}

.nav-menu .nav-item {
  margin: 16px 0;
}

.nav-menu.ativo {
  right: -90%;
}

.header-icones a:hover i {
  animation: translateY 0.8s infinite alternate;
  color: rgb(167, 69, 170);
}

.footer-icone a:hover i {
  animation: translateY 0.8s infinite alternate;
  color: rgb(167, 69, 170);
}

@keyframes translateY {
  from {
    transform: translateY(0) scale(1);
  }
  to {
    transform: translateY(-8px) scale(1.1);
  }
}
@media screen and (max-width: 768px) {
  .menu-config .nav-menu {
    height: 220px;
  }
  .menu-nav-radius {
    margin-bottom: 20px;
  }
  .nav-menu.ativo {
    right: -60%;
  }
  .header-logo {
    font-size: 40px;
    flex-direction: column;
  }
  .header-content {
    width: 100%;
    flex-direction: column;
    gap: 20px;
    margin-top: 16px;
  }
  .header-content i {
    margin-left: 20px;
  }
  .header-content div {
    flex: 1;
  }
  .header-logo {
    margin-top: 25px;
    margin-left: 3px;
  }
  .profissionais-logo {
    margin-top: 25px;
    margin-left: 30px;
    margin-right: 40px;
  }
}
.missao {
  background-color: white;
  overflow: hidden;
  text-align: justify;
  font-family: "Open Sans";
}

.missao-content {
  padding: 50px;
  display: flex;
  gap: 45px;
}

.missao {
  box-shadow: 0 0.1rem 0.5rem #8e8d8d;
}

.missao-content {
  flex: 1;
}
.missao-content .missao-descricao {
  font-size: 25px;
}
.missao-content .missao-descricao h2 {
  display: none;
}

.missao {
  margin-top: 70px;
}
.missao img {
  border-radius: 2%;
  box-shadow: 0 0.1rem 0.5rem #747070;
  transition: transform 0.2s;
}

.horario-funcionamento {
  margin-top: 100px;
  font-size: 15px;
}

.missao img:hover {
  transform: scale(1.2);
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .missao-content {
    flex-direction: column;
    align-items: center;
  }
  .missao-descricao {
    font-size: large;
  }
  .missao-descricao h2 {
    display: none;
  }
}
.footer-content {
  margin: auto;
  margin-top: 50px;
}

.footer-logo {
  margin: auto;
  text-align: center;
  color: #7C1F92;
  font-size: 30px;
  margin-left: 10px;
  justify-content: center;
}
.footer-logo h1 {
  margin-top: 5px;
}

.endereco {
  justify-content: center;
  text-align: center;
  margin-top: 100px;
  font-size: 20px;
}
.endereco p {
  color: #7C1F92;
}

.btn-whatsapp {
  position: fixed;
  bottom: 8%;
  right: 24px;
  z-index: 99;
}
.btn-whatsapp img {
  max-width: 74px;
  transition: transform 0.4s;
}

.btn-whatsapp img:hover {
  transform: scale(1.1);
}

.btn-whatsapp .tooltip-text {
  visibility: hidden;
  position: absolute;
  width: 120px;
  top: 8px;
  left: -144px;
  color: white;
  opacity: 0;
  transition: opacity 0.3s;
  background-color: #06121e;
  padding: 4px;
  border-radius: 8px;
  text-align: center;
}

.btn-whatsapp:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .missao-content img {
    height: 250px;
    width: 310px;
  }
  .missao-content .horario-funcionamento {
    font-size: 20px;
    margin-top: 50px;
  }
  .missao-descricao {
    margin-top: 1px;
  }
  .btn-whatsapp {
    bottom: 1%;
  }
  .btn-whatsapp img {
    max-width: 54px;
  }
  .endereco {
    margin-top: 80px;
  }
  .missao-content {
    gap: 20px;
  }
  .info-footer {
    margin-top: 8px;
  }
  .afazer {
    display: none;
  }
}
.profissionais {
  background-color: white;
  flex: 1;
  width: 1400px;
  font-family: "Open Sans";
  text-align: justify;
  margin-left: 35px;
  margin-top: 70px;
  box-shadow: 0 0.1rem 0.5rem #8e8d8d;
}
.profissionais .imgs-syntia img:hover {
  transform: scale(1.2);
  z-index: 1;
}
.profissionais .imgs-syntia {
  display: flex;
  gap: 80px;
  margin-left: 10px;
  padding: 40px 40px 40px 40px;
  border-radius: 10px;
}
.profissionais .imgs-syntia img {
  box-shadow: 0 0.1rem 0.5rem #8e8d8d;
  border-radius: 2%;
  transition: transform 0.2s;
}
.profissionais .profissional-content {
  padding: 50px;
}
.profissionais .text-syntia {
  padding-left: 45px;
  padding-right: 45px;
  font-size: 25px;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .profissional-content {
    padding: 20px;
  }
  .syntia-funcao {
    display: none;
  }
  .profissionais {
    width: 370px;
    margin-left: 23px;
  }
  .profissionais .imgs-syntia {
    flex-direction: column;
    box-shadow: none;
    margin-left: 10px;
    padding: 0%;
  }
  .profissionais .imgs-syntia .img-celular-2 {
    display: none;
  }
  .profissionais .imgs-syntia .img-celular-3 {
    display: none;
  }
  .profissionais .imgs-syntia img {
    width: 250px;
  }
}
body {
  font-family: "Belleza", sans-serif;
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #f3eaf1;
}

button {
  font-family: "Belleza", sans-serif;
  cursor: pointer;
}

svg {
  width: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */